<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head', { title: "Editar Proyecto | Admin-Portfolio"}) %>
  </head>
  <body>
    <%# Barra de Navegación %>
    <%- include('../components/navbar') %>

    <%# Cuerpo de la Aplicación %>
    <main id="new-main">
      <h1>Editar proyecto</h1>

      <% if (error) { %>
        <p id="error-message"><%= error %></p>
      <% } %>

      <form id="tech-form" action="/proyectos/<%= project._id %>/editar" method="post">
        <fieldset>
          <legend>Información Principal</legend>
          <label for="name">Nombre: <input value="<%= project.name %>" placeholder="Mi Aplicación" type="text" name="name" id="name" minlength="3" required></label>
          <label for="description">Descripción (Caracteres: <em id="char-length"></em>): <textarea name="description" id="description" rows="5" minlength="50" placeholder="Aplicación que realiza..." required><%= project.description %></textarea></label>
        </fieldset>
        <fieldset>
          <legend>¿Proyecto destacado?</legend>
          <label for="no-favorite" class="radio-label">
            <% if (!project.favorite) { %>
              <input
                type="radio"
                name="favorite"
                value="0"
                id="no-favorite"
                checked> NO
            <% } else { %>
              <input type="radio" name="favorite" value="0" id="no-favorite"> NO
            <% } %>
          </label>
          <label for="yes-favorite" class="radio-label">
            <% if (project.favorite) { %>
                <input
                  type="radio"
                  name="favorite"
                  value="1"
                  id="yes-favorite"
                  checked> SI
            <% } else { %>
              <input type="radio" name="favorite" value="1" id="yes-favorite"> SI
            <% } %>
          </label>
        </fieldset>
        <fieldset>
          <legend>Características del Proyecto</legend>
          <div id="tasks-group">
            <% if (!project.tasks.length) { %>
              <input id="task-0" placeholder="Obtiene datos de una API..." type="text" name="tasks" minlength="5" required >
            <% } else { %>
              <% project.tasks.forEach((task, index) => { %>
                <input
                  id=<%= "task-" + index %>
                  placeholder="Obtiene datos de una API..."
                  value="<%= task %>"
                  type="text"
                  name="tasks"
                  minlength="5">
              <% }) %>
            <% } %>
          </div>
          <button class="btn-edit" type="button" id="detail-button">Otra Característica</button>
        </fieldset>
        <fieldset>
          <legend>Tecnologías usadas</legend>
          <% if (!techs.length) { %>
            <p id="error-message">Debe añadir Tecnologías primero</p>
          <% } else { %>
            <% techs.forEach((tech) => { %>
              <% if (project.techs.includes(tech._id.toString())) { %>
                <label for="<%= tech._id %>" class="checkbox-label">
                  <input
                    type="checkbox"
                    name="techs"
                    id="<%= tech._id %>"
                    value="<%= tech._id %>"
                    checked> <%= tech.name %></label>
              <% } else { %>
                <label for="<%= tech._id %>" class="checkbox-label">
                  <input
                    type="checkbox"
                    name="techs"
                    id="<%= tech._id %>"
                    value="<%= tech._id %>"> <%= tech.name %></label>
              <% } %>
            <% }) %>
          <% } %>
        </fieldset>
        <fieldset>
          <legend>Tipo de Proyecto</legend>
          <label for="full-stack-radio" class="radio-label">
            <% if (project.type === "full-stack") { %>
              <input type="radio" name="type" value="full-stack" id="full-stack-radio" checked> Full-Stack
            <% } else { %>
              <input type="radio" name="type" value="full-stack" id="full-stack-radio"> Full-Stack
            <% } %>
          </label>
          <label for="back-end-radio" class="radio-label">
            <% if (project.type === "back-end") { %>
              <input type="radio" name="type" value="back-end" id="back-end-radio" checked> Back-End
            <% } else { %>
              <input type="radio" name="type" value="back-end" id="back-end-radio"> Back-End
            <% } %>
          </label>
          <label for="front-end-radio" class="radio-label">
            <% if (project.type === "front-end") { %>
              <input type="radio" name="type" value="front-end" id="front-end-radio" checked> Front-End
            <% } else { %>
              <input type="radio" name="type" value="front-end" id="front-end-radio"> Front-End
            <% } %>
          </label>
          <label for="otros-radio" class="radio-label">
            <% if (project.type === "otros") { %>
              <input type="radio" name="type" value="otros" id="otros-radio" checked> Otros
            <% } else { %>
              <input type="radio" name="type" value="otros" id="otros-radio"> Otros
            <% } %>
          </label>
        </fieldset>
        <fieldset>
          <legend>Accesos</legend>
          <label for="github">Repositorio: <input value="<%= project.github %>" type="url" placeholder="https://github.com/usuario/repositorio" name="github" id="github" required></label>
          <label for="deploy">Sitio Web: <input value="<%= project.deploy %>" type="url" placeholder="https://misitioweb.com" name="deploy" id="deploy"></label>
          <label for="docs">Documentación: <input value="<%= project.docs %>" type="url" placeholder="https://documentacion.com" name="docs" id="docs"></label>
        </fieldset>
        <% if (!techs.length) { %>
          <input class="btn-submit" type="submit" value="EDITAR" disabled />
        <% } else { %>
          <input class="btn-submit" type="submit" value="EDITAR" />
        <% } %>
      </form>
      <a href="/proyectos/<%= project._id %>/editar/imagenes" style="margin-top: 2rem; margin-bottom: 2rem;" class="btn-edit">EDITAR IMAGENES</a>
    </main>
    <script src="/public/js/edit-project.js"></script>
  </body>
</html>
